header{
    background-color: #E2FDF3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15rem;

    @media(min-width:$tablet){
        height: 13rem;
    }

    @media(min-width:$desktop){
        height: 12.5rem;
    }

    img{
        max-width: 17rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    nav{

        ul{
            padding: 0;
            display: flex;
            list-style: none;
            justify-content: space-around;

            @media(min-width:$tablet) {
                max-width: 50%;
                margin: 0 auto;
            }

            @media(min-width:$desktop){
                max-width: 75%;
            }

            li{

                a{
                    color: $link;
                    padding: 1rem;
                    text-decoration: none;
                    transition: .2s;

                    &:visited{
                        color:$link;
                    }

                    &.active{
                        color:#2B5700;
                    }

                    &:hover{
                        color:$hover-link;
                    }
                    
                    @media(min-width:$tablet){
                        padding: 1.5rem;
                    }

                    @media(min-width:$desktop){
                        padding: 1.5rem;

                        &:hover{
                            box-shadow: -2px -2px inset green;
                        }
                    }
                }
            }
        }
    }
}