//variables for breakpoints

$tablet: 670px;
$desktop: 900px;
$desktop-full: 1500px;

//colors

$link: #9012A1;
$hover-link: #893324;
$active-link: #99245C;
$button-color: #AAFDC2;
$button-hover: #1DD4D7;